<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-11">

      <div>
        <%= render 'public/users/profile', user: @user %>
      </div>

      <div>
        <h4>投稿一覧</h4>
      </div>

      <div>
        <% @post_image.each do |post_image| %>

        <div>
          <span>
            <%= link_to public_post_image_path(post_image.id) do %>
              <%= image_tag post_image.get_image(100,100) %>
            <% end %>
          <span>

          <span><%= link_to post_image.user.name, public_user_path(post_image.user.id) %></span>

          <span><%= link_to post_image.title, public_post_image_path(post_image.id) %></span>

          <%= post_image.body.truncate(20) %>
            <% if post_image.body.size >= 20 %>
              <%= link_to public_post_image_path(post_image.id) do %>
                <span>　続きを読む</span>
              <% end %>
            <% end %>

        </div>

        <% end %>
        <%= paginate @post_image %>
      </div>

    </div>
  </div>
</div>