<div class="container">
  <div class="row" style="margin: 50px 0;">
    <div class="col-xl-12">

      <div style="margin-bottom: 30px;" class="border-bottom">
        <h4 class="text-center">新規投稿</h4>
      </div>
      <div class="text-center">
        <% if @post_image.errors.any? %>
          <%= @post_image.errors.count %>件のエラーが発生しました
          <ul>
            <% @post_image.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="d-flex justify-content-center">
        <%= form_with model: @post_image, url: public_post_images_path, method: :post do |f| %>

          <label for="file", style="margin-bottom: 20px;">
            <span, style: "margin-right: 50px;">画像</span>
          </label>
          <%= f.file_field :image, accept: "image/*", id:"file", style: "margin-left: 95px;" %><br>

          <label for="title", style="margin-bottom: 20px;"><span>タイトル</span></label>
          <%= f.text_field :title, id:"title", style: "margin-left: 64px;" %><br>

          <label for="body", style="margin-bottom: 20px;"><span>本文</span></label>
          <%= f.text_area :body, id:"body", size: "60×50", style: "height:300px; margin-left: 95px;" %><br>

          <label for="tag", style="margin-bottom: 20px;"><span>ハッシュタグ</span></label>
          <%= f.text_area :hashbody, id:"tag", size: "60×50", placeholder: "先頭に#をつけてください", style: "margin-left: 30px;" %><br>

          <div class="text-center">
            <%= f.submit '投稿' %>
          </div>

        <% end %>
      </div>

    </div>
  </div>
</div>
