<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-11">

      <div>
        <h4>新規投稿</h4>
      </div>
      <% if @post_image.errors.any? %>
        <%= @post_image.errors.count %>件のエラーが発生しました
        <ul>
          <% @post_image.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div>
        <%= form_with model: @post_image, url: public_post_images_path, method: :post do |f| %>

          <label for="file"><span>画像</span></label>
          <%= f.file_field :image, accept: "image/*", id:"file" %><br>

          <label for="title"><span>タイトル</span></label>
          <%= f.text_field :title, id:"title" %><br>

          <label for="body"><span>本文</span></label>
          <%= f.text_area :body, id:"body", size: "60×50", style: "height:300px;" %><br>

          <label for="tag"><span>ハッシュタグ</span></label>
          <%= f.text_area :hashbody, id:"tag", size: "60×50", placeholder: "先頭に#をつけてください" %><br>

          <%= f.submit '投稿' %>

        <% end %>
      </div>

    </div>
  </div>
</div>
