<div class="container">
  <div class="row" style="margin: 50px 0;">

    <div class="col-md-3">
      <% if user_signed_in? %>
        <%= render 'public/users/profile', user: @user %>
      <% end %>
    </div>

    <div class="col-md-8">
      <div style="margin-bottom: 20px;" class="border-bottom">
        <h4 class="text-center"><%= @post_image.title %></h3>
      </div>

      <div>
        <div class="text-center">
          <%= image_tag @post_image.get_image(500,500) %>
        </div>
        <div class="text-center border-bottom small" style="margin-top: 5px;">
          <span style="margin-right: 20px;">
            <%= link_to @post_image.user.name, public_user_path(@post_image.user.id), class: "text-muted" %>
          </span>
          <% if user_signed_in? %>
            <span style="margin-right: 20px;">
                  <% if @post_image.bookmarked_by?(current_user) %>
                    <%= link_to public_bookmark_path(@post_image), method: :delete, class: "text-muted" do %>
                       <i class="fas fa-bookmark-slash"></i>
                    <% end %>
                   <% else %>
                    <%= link_to public_bookmarks_path(post_image_id: @post_image), method: :post, class: "text-muted" do %>
                      <i class="fas fa-bookmark"></i>
                    <% end %>
                  <% end %>
            </span>
            <% if @user == current_user %>
              <span style="margin-right: 20px;">
                <%= link_to "編集する", edit_public_post_image_path(@post_image.id), class: "text-muted" %>
              </span>
            <% end %>
          <% end %>
          <span>
            <%= @post_image.created_at.strftime('%Y/%m/%d') %>
          </span>
        </div>
      </div>

      <div style="margin: 20px 30px;">
        <p><%= @post_image.body %></p>
      </div>
      <% if @post_image.hashbody %>
         <div class="text-center">
          <p style="margin: 20px 0;"><%= render_with_hashtags(@post_image.hashbody) %></p>
        </div>
      <% end %>

      <div class="text-left"  style="margin-top: 40px;">
        <p class="border-bottom font-weight-bold">
          <span style="margin-left: 30px;">コメント：<%= @post_image.comments.count %>件</span>
        </p>
          <% @post_image.comments.each do |comment| %>
            <div style="margin-left: 30px;"><%= comment.comment %></div>
            <div class="text-right border-bottom small" style="margin-left: 30px;">
              <span style="margin-right: 5px;">
                <%= link_to comment.user.name, public_user_path(comment.user.id), class: "text-muted" %>
              </span>
              <span style="margin-right: 5px;">
                <%= comment.created_at.strftime('%Y/%m/%d') %>
              </span>

              <% if comment.user == current_user %>
                <%= link_to "削除", public_post_image_comment_path(comment.post_image.id, comment.id), method: :delete, class: "text-muted" %>
              <% end %>
            </div>
          <% end %>
      </div>

      <div class="text-center" style="margin-top: 10px;">
        <% if user_signed_in? %>
          <%= form_with model: [@post_image, @comment], url: public_post_image_comments_path(@post_image), method: :post do |f| %>
            <%= f.text_area :comment, placeholder: "コメントをここに", size: "60×50", style: "height:80px;" %>
            <%= f.submit "送信する", class: "btn btn-outline-info" %>
          <% end %>
        <% end %>
      </div>

    </div>


  </div>
</div>