<div>
  <div>
    <div>

      <div>
        <%= render 'public/users/profile', user: @users %>
      </div>

      <div>
        <div>
          <h3><%= @post_image.title %></h3>
        </div>

        <div>
          <div><%= image_tag @post_image.get_image(500,500) %></div>
          <span><%= link_to @post_image.user.name, public_user_path(@post_image.user.id) %></span>
          <span><% if @post_image.bookmarked_by?(current_user) %>
                  <%= link_to "ブックマークを外す", public_post_image_bookmarks_path(@post_image), method: :delete %>
                <% else %>
                  <%= link_to "ブックマークする", public_post_image_bookmarks_path(@post_image), method: :post %>
                <% end %>
          </span>
          <span><%= link_to "編集する", edit_public_post_image_path(@post_image.id) %></span>
          <span><%= @post_image.created_at.strftime('%Y/%m/%d') %></span>
        </div>

        <div>
          <p><%= @post_image.body %></p>
        </div>

        <div>
          <p>コメント：<%= @post_image.comments.count %>件</p>
            <% @post_image.comments.each do |comment| %>
              <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
              <%= comment.user.name %>
              <%= omment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
              <% if post_comment.user == current_user %>
                <%= link_to "削除", public_comments_path(comment.post_image, comment), method: :delete %>
              <% end %>
            <% end %>
        </div>
        <div>
          <%= form_with model: [@post_image, @comment], url: public_comments_path, method: :post do |f| %>
            <%= f.text_area :comment, placeholder: "コメントをここに", size: "60×50", style: "height:80px;" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>