<div>
  <div>
    <div>

      <div>
        <%= render 'public/users/profile', user: @user %>
      </div>

      <div>
        <div>
          <h3><%= @post_image.title %></h3>
        </div>

        <div>
          <div><%= image_tag @post_image.get_image(500,500) %></div>
          <span><%= link_to @post_image.user.name, public_user_path(@post_image.user.id) %></span>
          <% if signed_in? %>
            <span>
                  <% if @post_image.bookmarked_by?(current_user) %>
                    <%= link_to "ブックマークを外す", public_bookmark_path(@post_image), method: :delete %>
                  <% else %>
                    <%= link_to "ブックマークする", public_bookmarks_path(post_image_id: @post_image), method: :post %>
                  <% end %>
            </span>
            <% if @user == current_user %>
              <span><%= link_to "編集する", edit_public_post_image_path(@post_image.id) %></span>
            <% end %>
          <% end %>
          <span><%= @post_image.created_at.strftime('%Y/%m/%d') %></span>
        </div>

        <div>
          <p><%= @post_image.body %></p>
        </div>
        <% if @post_image.hashbody %>
          <div>
            <%= render_with_hashtags(@post_image.hashbody) %>
          </div>
        <% end %>

        <div>
          <p>コメント：<%= @post_image.comments.count %>件</p>
            <% @post_image.comments.each do |comment| %>
              <%= image_tag comment.user.get_profile_image(100,100) %>
              <%= comment.comment %><br>
              <%= link_to comment.user.name, public_user_path(comment.user.id) %>
              <%= comment.created_at.strftime('%Y/%m/%d') %><br>

              <% if comment.user_id == current_user %>
                <%= link_to "削除", public_post_image_comment_path(comment.post_image.id, comment.id), method: :delete %>
              <% end %>
            <% end %>
        </div>
        <div>
          <% if signed_in? %>
            <%= form_with model: [@post_image, @comment], url: public_post_image_comments_path(@post_image), method: :post do |f| %>
              <%= f.text_area :comment, placeholder: "コメントをここに", size: "60×50", style: "height:80px;" %>
              <%= f.submit "送信する" %>
            <% end %>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>