<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div style="padding: 50px 0;">

        <div class="text-center", style="margin:20px;">
          <h1>ようこそ、Pets. へ</h1>
          <p>動物が好きな方、ペットを自慢したい方<br>
             ペットのおススメグッズやフードの紹介<br>
             飼い主同士でコミュニケーションを楽しみたい方<br>
             そんな方々にぴったりの動物好きさんオンリーのコミュニケーションサイトです！</p>
        </div>

        <div>
          <div style="margin-top: 10px;", class="border-bottom">
            <h4 class="text-center">新着記事</h1>
          </div>

          <div class="d-flex justify-content-center">
          <% @post_images.each do |post_image| %>

            <div>

              <div style="padding: 20px;">
                <span class="font-weight-bold">
                  <%= link_to post_image.title, public_post_image_path(post_image.id), class: "text-muted" %>
                </span><br>

                <div>
                  <%= link_to public_post_image_path(post_image.id) do %>
                    <%= image_tag post_image.get_image(100,100) %>
                  <% end %>
                </div>

                <div>
                    <%= post_image.body.truncate(10) %>
                    <% if post_image.body.size >= 10 %>
                      <%= link_to public_post_image_path(post_image.id), class: "text-muted" do %><br>
                        <span>続きを読む</span>
                      <% end %>
                    <% end %>
                </div>

                <span class="small">
                  <%= link_to post_image.user.name, public_user_path(post_image.user.id), class: "text-muted" %>
                </span>
              </div>


            </div>

          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>