<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-11">

      <div>
          <h2>投稿詳細画面</h2>
      </div>

      <div>
        <div><%= image_tag @post_image.get_image(500,500) %></div>
      </div>

      <div>
        <h3><%= @post_image.title %></h3>
        <span><%= link_to @post_image.user.name, public_user_path(@post_image.user.id), target: :_blank %></span>
        <span>♥<%= @post_image.bookmarks.count %></span>
        <span><%= @post_image.created_at.strftime('%Y/%m/%d') %></span>
        <div>
          <span><%= @post_image.body %></span>
        </div>
        <div>
          <span><%= render_with_hashtags(@post_image.hashbody, true) %></span>
        </div>

        <span><%= link_to "投稿削除", admin_post_image_path, method: :delete, data: { confirm: '本当に削除しますか?'} %></span>

      </div>

    </div>
  </div>
</div>