<div class="container">
  <div class="row" style="margin: 50px 0;">




    <div class="col-md-6">
      <div style="margin-bottom: 30px;" class="border-bottom">
        <h4 class="text-center">投稿詳細画面</h4>
      </div>
      <div><%= image_tag @post_image.get_image(400,400) %></div>
    </div>

    <div class="col-md-6">
      <div class="text-center">
        <div class="border-bottom">
          <h4><%= @post_image.title %></h4>
        </div>
        <div style="margin-top: 50px;">
          <div class="border-bottom">
            <span style="margin-right: 20px;"><%= link_to @post_image.user.name, public_user_path(@post_image.user.id), target: :_blank, class: "text-muted" %></span>
            <span style="margin-right: 20px;">♥<%= @post_image.bookmarks.count %></span>
            <span style="margin-bottom: 20px;"><%= @post_image.created_at.strftime('%Y/%m/%d') %></span>
          </div>
          <div style="margin: 30px 0;">
            <%= @post_image.body %>
          </div>
          <div style="margin-bottom: 30px;">
            <% if @post_image.hashbody %>
              <span><%= render_with_hashtags(@post_image.hashbody, true) %></span>
            <% end %>
          </div>
          <span class="btn btn-outline-danger">
            <%= link_to "投稿削除", admin_post_image_path, method: :delete, data: { confirm: '本当に削除しますか?'}, class: "text-danger" %>
          </span>
        </div>
      </div>
    </div>

  </div>
</div>