<div>
  <div>
    <div>

      <div>
        <%= render 'public/users/profile', user: @users %>
      </div>

        <div>
          <h3>ブックマーク一覧</h3>
        </div>

        <% @bookmarks.each do |bookmark| %>

        <div>
          <span>
            <%= link_to public_post_image_path(bookmark.post_image.id) do %>
              <%= image_tag bookmark.post_image.get_image(100,100) %>
            <% end %>
          <span>

          <span><%= link_to bookmark.post_image.title, public_post_image_path(bookmark.post_image.id) %></span>

          <span>
            <%= bookmark.post_image.body.truncate(20) %>
              <% if bookmark.post_image.body.size >= 20 %>
                <%= link_to public_post_image_path(bookmark.post_image.id) do %>
                  <span>続きを読む</span>
                <% end %>
              <% end %>
          </span>

          <span><%= link_to bookmark.user.name, public_user_path(bookmark.user.id) %></span>

          <% end %>

        </div>



    </div>
  </div>
</div>