<div class="container">
  <div class="row" style="margin: 50px 0;">
    <div class="col-xl-12">

      <div style="margin-bottom: 30px;">
        <h4 class="text-center">ユーザー一覧</h4>
      </div>

      <div class="text-center">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="text-nowrap font-weight-bold"><h6>会員ID</h6></th>
              <th scope="col" class="text-nowrap font-weight-bold"><h6>ユーザーネーム</h6></th>
              <th scope="col" class="text-nowrap font-weight-bold"><h6>メールアドレス</h6></th>
              <th scope="col" class="text-nowrap font-weight-bold"><h6>ステータス</h6></th>
          </tr>
          </thead>
          <tbody>
            <% @user.each do |user|%>
            <tr>
              <td><p><%= user.id %></p></td>
              <td><p><%= link_to admin_user_path(user.id), class: "text-muted text-decoration-underline" do %>
                                  <%= user.name %>
                                <% end %></p></td>
              <td><p><%= user.email %></p></td>
              <td><p><% if user.is_deleted %></p>
                                    <p class="text-muted">退会</p>
                                  <% else %>
                                    <p class="text-success">有効</p>
                                  <% end %></td>
            </tr>
            <% end %>
            <%= paginate @user %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>