<div>
  <div>
    <div>

      <% if signed_in? %>

      <div>
        <h4>プロフィール</h4>
      </div>

      <div>



        <div><%= image_tag user.get_profile_image(100,100) %></div>
        <div><%= user.name %></div>
        <div><%= user.introduction %></div>
        <div>
          <% if user == current_user %>
            <%= link_to "プロフィール編集", edit_public_user_path(user.id) %>
          <% end %>
        </div>

        <div>
          <% if user_signed_in? %>
            <div>
              <%= link_to "新規投稿", new_public_post_image_path %>
            </div>
            <div>
              <%= link_to "ブックマーク", public_bookmarks_path %>
            </div>
          <% end %>
        </div>

        <%= form_with url: keyword_public_post_images_path, method: :get do |f| %>
          <%= f.text_field :keyword %>
          <%= f.submit "検索" %>
        <% end %>


      </div>

      <% end %>

    </div>
  </div>
</div>