<div>
  <div>
    <div>

      <% if signed_in? %>

      <div style="margin-bottom: 20px;" class="border-bottom">
        <h4 class="text-center">プロフィール</h4>
      </div>

      <div>
        <div class="text-center">
          <div style="margin-bottom: 10px;"><%= image_tag user.get_profile_image(100,100) %></div>
          <div>
            <span class="border-bottom small">ユーザーネーム</span>
            <div style="margin-bottom: 10px;"><%= user.name %></div>
          </div>
          <div class="border-bottom">
            <span class="border-bottom small">自己紹介</span>
            <div style="margin-bottom: 10px;"><%= user.introduction %></div>
          </div>
        </div>


        <% if user == current_user %>
          <div class="text-center" style="margin-top: 10px;">
            <%= link_to "プロフィール編集", edit_public_user_path(user.id), class: "text-success btn btn-outline-success" %>
          </div>
        <% end %>

        <% if user_signed_in? %>
          <div>
              <div class="text-center" style="margin-top: 10px;">
                <%= link_to "新規投稿", new_public_post_image_path, class: "text-info btn btn-outline-info" %>
              </div>
              <div class="text-center" style="margin-top: 10px;">
                <%= link_to public_bookmarks_path, class: "text-warning btn btn-outline-warning" do %>
                  <%= image_tag 'Pets._bookmark3.png' %>
                  <span>ブックマーク</span>
                <% end %>
              </div>
          </div>

          <div style="margin-top: 10px;" class="text-center">
            <%= form_with url: keyword_public_post_images_path, method: :get do |f| %>
              <%= f.text_field :keyword, size: "15×30" %>
              <%= f.submit "検索", class: "btn btn-outline-primary" %>
            <% end %>
          </div>
        <% end %>


        </div>



      <% end %>

    </div>
  </div>
</div>