<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-11">

      <div>
        <%= render 'profile', user: @user %>
      </div>



        <div>
          <h4>ユーザー一覧</h4>
        </div>

        <div>
          <% @users.each do |user| %>
          <div>
            <span>
              <%= link_to public_user_path(user.id) do %>
                <%= image_tag user.get_profile_image(100,100) %>
              <% end %>
            </span>
            <span><%= link_to user.name, public_user_path(user.id) %></span>
            <span>
                <% if user.introduction %>
                  <%= user.introduction.truncate(20) %>
                  <% if user.introduction.size >= 20 %>
                    <%= link_to public_user_path(user.id) do %>
                      <span>続きを読む</span>
                    <% end %>
                  <% end %>
                <% end %>
            </span>
          </div>
          <% end %>
          <%= paginate @users %>
        </div>

    </div>
  </div>
</div>